.tiny-ie-hack { height: 100%; width: 100%; overflow: hidden; }

#tiny-over {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 1000;
	display: none;
	background-color: #000000;
	opacity: 0.9;
	filter: alpha(opacity=90);
} * html #tiny-over { position: absolute; }

#tiny-load {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 2000;
	display: none;
	background: transparent url(../img/throbber.0.1.gif) center no-repeat;
} * html #tiny-load { position: absolute; }

#tiny-tbox {
	width: 510px;
	height: auto;
	position: fixed;
	top: 15px; left: 50%;
	margin-left: -255px;
	z-index: 1500;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
} * html #tiny-tbox { position: absolute; }
